<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dava.mappers.BookMapper">


	<select id="select" resultType="com.dava.myapp.domain.BookVO">
		select
		booknum , title, author ,
		publisher , pub_date , price , sal , img , summary
		,genre
		from
		book
		where
		booknum = #{booknum}
	</select>



	<select id="issue" resultType="com.dava.myapp.domain.BookVO">
 <![CDATA[
select 
booknum,img,sal 
from 
book 
order by sal desc,rand() limit 8 ;
 ]]>
	</select>

	<select id="contents" resultType="com.dava.myapp.domain.BookVO">
		select
		booknum , title, author ,
		publisher , pub_date , price , sal , img , summary,genre
		from
		book
		where
		genre like "%"#{contents}"%"
		order by title desc
	</select>


	<select id="newstbook" resultType="com.dava.myapp.domain.BookVO">
		select * from book where pub_date>date_sub(curdate(),INTERVAL 1 MONTH);
	</select>
</mapper>
