<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dava.mappers.BuyMapper">

	<insert id="buy">
		insert into buy
		(memnum,booknum,buy_date,p_way,final_pay)
		values(#{memnum},#{booknum},now(),#{p_way},#{final_pay});
	</insert>


	<insert id="shop_bag">
		insert into shop_bag
		(booknum,memnum)
		values(#{booknum},#{memnum});
	</insert>


	<select id="bag_select" resultType="com.dava.myapp.domain.ShopBagVO">
		SELECT bagnum,booknum,memnum
		FROM shop_bag where booknum = #{booknum} and memnum = #{memnum};
	</select>

	
	<select id="my_shop" resultType="com.dava.myapp.domain.BookVO">
		 <![CDATA[
		 select b.booknum,b.img ,b.title, b.price,b.genre from shop_bag s join book b on s.booknum = b.booknum where s.memnum=#{memnum};
		 ]]>
	</select>
	
	<delete id="shop_drop">
 		delete from shop_bag where memnum= #{memnum} and booknum =#{booknum};
	</delete>
	
	<delete id="shop_drop_all">
 		delete from shop_bag where memnum= #{memnum};
	</delete>
	
	<update id="point_update" parameterType="com.dava.myapp.domain.BuyVO">
		update member set point = point + (#{final_pay}/10) where memnum = #{memnum};		
	</update>
	

	<update id="use_point" parameterType="com.dava.myapp.domain.BuyVO">
		update member set point = point - #{use_point} where memnum = #{memnum};		
	</update>
	
	
	<insert id="total_buy">
		insert into buy
		(memnum,booknum,buy_date,p_way,final_pay)
		values(#{memnum},#{booknum},now(),#{p_way},#{final_pay});
	</insert>


	
	<select id="buy_select" resultType="com.dava.myapp.domain.BuyVO">
		SELECT booknum,memnum
		FROM buy where memnum = #{memnum};
	</select>
	

</mapper>
