<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dava.mappers.MemMapper">


	<select id="mem_info" resultType="com.dava.myapp.domain.MemberVO">
		select
		id, NICKNAME , point, AES_DECRYPT(UNHEX(PASSWORD), '0000') as password
		from
		member
		where memnum = #{memnum};
	</select>

	<insert id="join">
		insert into member
		(id,nickname,password,point)
		values(#{id},#{nickname},HEX(AES_ENCRYPT(#{password}, '0000')),0);
	</insert>


	<select id="login" resultType="com.dava.myapp.domain.MemberVO">
		select
		MEMNUM,id, NICKNAME,PASSWORD , point
		from
		member
		where id = #{id} and password =HEX(AES_ENCRYPT(#{password}, '0000'));
	</select>
	
	<update id="editpassword" parameterType="com.dava.myapp.domain.MemberVO">
		update member set password = HEX(AES_ENCRYPT(#{password}, '0000')) where memnum = #{memnum};		
	</update>
	
	<select id="pwsearch" resultType="com.dava.myapp.domain.MemberVO">
		select
		AES_DECRYPT(UNHEX(PASSWORD), '0000') as password,memnumv
		from
		member
		where id = #{id};
	</select>
	
	
</mapper>
