<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dava.mappers.MemMapper">


	<select id="mem_info" resultType="com.dava.myapp.domain.MemberVO">
		select
		id, NICKNAME , point, password
		from
		member
		where memnum = #{memnum};
	</select>

	<insert id="join">
		insert into member
		(id,nickname,password,point)
		values(#{id},#{nickname},#{password},0);
	</insert>


	<select id="login" resultType="com.dava.myapp.domain.MemberVO">
		select
		MEMNUM,id, NICKNAME,PASSWORD , point
		from
		member
		where id = #{id} and password =#{password};
	</select>
	
	<update id="editpassword" parameterType="com.dava.myapp.domain.MemberVO">
		update member set password = #{password} where memnum = #{memnum};		
	</update>
	
</mapper>
